extends ../layout/common.pug

block style
    link(rel="stylesheet", href="/css/movies.css")

block content
    main.main
        div.main-image
            div.main-image__container
                img.main-image__source(src="/images/third.jpg")
            div.main-image__container
                img.main-image__source(src="/images/second.jpg")
            div.main-image__container
                img.main-image__source(src="/images/fourth.jpg")
            div.arrow__container.arrow__container-right(onclick="nextImage(1)")
                i(class="fas fa-arrow-right fa-2x")
            div.arrow__container.arrow__container-left(onclick="nextImage(-1)")
                i(class="fas fa-arrow-left fa-2x")
        div.cards-container
            each movie in movies
                div.card
                    div.card__image
                        div.card__rating
                            i(class="fas fa-heart icon-customize")
                            div.rating__percentage
                                h4 #{movie.ratingInPercentage}%
                            div.rating__users
                                p #{movie.totalUser}
                        img(src=`/${movie.imageUrl}`, alt="")
                    div.card__body
                        div.card__title
                            p.capital-case #{movie.title}
                        div.card__text
                            p.capital-case Added By: #{movie.user.name}
