extends ../layout/common

block style
    link(rel="stylesheet", href="/css/movie-detail.css")

block content
    main.main
        div.backdrop
            div.movie-delete__modal
                div.modal-title
                    p Do you really want to delete?
                div.modal-action
                    button.modal-accept__button(type="submit", name="deleteButton", onclick="deleteComment()") Delete
                    button.modal-decline__button(type="button", onclick="modalClose()") Cancel
        if msg
            div.error-container
                h3.error-title There was a problem
                p.error-body #{msg}
        div.movie-details__container
            div.movie-image__container
                img(src=movie.imageUrl, alt="singleMovieImage")
            div.movie-detail__divider
            div.movie-description__container
                div.movie-description.movie-description__title
                    h4 Title:
                    p.capital-case #{movie.title}
                div.movie-description.movie-description__description
                    h4 Description:
                    p #{movie.description}
                div.movie-description.movie-description__category
                    h4 Category:
                    p.capital-case #{movie.category}
                div.movie-description.movie-description__time
                    h4 Created At:
                    p #{movie.createdAt}
                div.movie-description.mvoie-description__added
                    h4 Added By:
                    p.capital-case  #{movie.user.name}
                input(type="hidden", id="movieRatingValue", value=movie.originalRating)
                div.movie-description
                    h4 Rating:
                    div.rating__stars
                        ul.rating-ul
                            li(class="movie-rating__star", value=1)
                                i.fas.fa-star()
                            li(class="movie-rating__star", value=2)
                                i.fas.fa-star()
                            li(class="movie-rating__star", value=3)
                                i.fas.fa-star()
                            li(class="movie-rating__star", value=4)
                                i.fas.fa-star()
                            li(class="movie-rating__star", value=5)
                                i.fas.fa-star()
        div.movie-add-comment__container
            if  user && existingComment && editing
                form(method="POST", action="/update-comment")
                    div.comment-header
                        div.commenter-name
                            h6.capital-case Comment By: #{user.name}
                        div.commenter-rating
                            span.star-cb-group
                                input(type="radio", name="rating", id="rating-5", value="5")
                                label(for="rating-5") 5
                                input(type="radio", name="rating", id="rating-4", value="4")
                                label(for="rating-4") 4
                                input(type="radio", name="rating", id="rating-3", value="3")
                                label(for="rating-3") 3
                                input(type="radio", name="rating", id="rating-2", value="2")
                                label(for="rating-2") 2
                                input(type="radio", name="rating", id="rating-1", value="1")
                                label(for="rating-1") 1
                        input(type="hidden", id="existingCommentRating", value=existingComment.rating)
                    div.comment-body
                        div.create-comment
                            label(for="inputComment") Comment
                            textarea(rows=3, name="comment", id="inputComment") #{existingComment.comment}
                    div.comment-action
                        button.comment-action__button(type="submit") Update Comment
                        a(href=`/movie/${movie._id}`)
                            button.comment-action__button(type="button") Cancel
                    input(type="hidden", name="movieId", value=movie._id)
                    input(type="hidden", name="_csrf", value=_csrf)
            else if user && existingComment
                div.comment-body
                    div.existing-comment
                        p.comment-update__title Your Comment:
                        p.comment-update__text #{existingComment.comment}
                div.comment-action
                    a(href=`/movie/${movie._id}?editing=true`)
                        button.comment-action__button(type="submit") Update Comment
                    button.comment-action__button.delete-comment(type="button", onclick="deleteCommentValue(this)") Delete Comment
                    input(type="hidden", name="movieId", value=movie._id)
                    input(type="hidden", name="commentId", value=existingComment._id)
                    input(type="hidden", name="rating", value=existingComment.rating)
                    input(type="hidden", name="_csrf", value=_csrf)
            else if  user
                form(method="POST", action="/add-comment")
                    div.comment-header
                        div.commenter-name
                            h6.capital-case Comment By: #{user.name}
                        div.commenter-rating
                            span.star-cb-group
                                input(type="radio", name="rating", id="rating-5", value="5")
                                label(for="rating-5") 5
                                input(type="radio", name="rating", id="rating-4", value="4")
                                label(for="rating-4") 4
                                input(type="radio", name="rating", id="rating-3", value="3")
                                label(for="rating-3") 3
                                input(type="radio", name="rating", id="rating-2", value="2")
                                label(for="rating-2") 2
                                input(type="radio", name="rating", id="rating-1", value="1")
                                label(for="rating-1") 1
                    div.comment-body
                        div.create-comment
                            label(for="inputComment") Comment
                            textarea(rows=3, name="comment", id="inputComment")
                    div.comment-action
                        button.comment-action__button(type="submit") Add Comment
                    input(type="hidden", name="movieId", value=movie._id)
                    input(type="hidden", name="_csrf", value=_csrf)
            else
                p.comment-login__message
                    | Please
                    |
                    a.comment-login__anchor(href="/admin/login") login
                    |
                    | to leave a rating for this movie...
        if comments.length > 0
            div.movie-comments__container
                each comment in comments
                    div.single-comment
                        div.comments-header.commenter-name
                            h6.capital-case #{comment.name}
                            div.header-sub__content
                                i.fas.fa-calendar()
                                p #{comment.time}
                            div.rating__stars.comment-rating__stars
                                ul.rating-ul
                                    li(class="comment-rating__star", value=1)
                                        i.fas.fa-star()
                                    li(class="comment-rating__star", value=2)
                                        i.fas.fa-star()
                                    li(class="comment-rating__star", value=3)
                                        i.fas.fa-star()
                                    li(class="comment-rating__star", value=4)
                                        i.fas.fa-star()
                                    li(class="comment-rating__star", value=5)
                                        i.fas.fa-star()
                        div.comments-body
                            p #{comment.comment}
                        input.comment-rating__value(type="hidden", value=comment.rating)
